* {

	padding: 0;
	margin:0;
	box-sizing: border-box;

}

body {
background: url("fondo.jpg") no-repeat center center;
background-size: 100% 100%;
}

h1 {
	text-align : left;
	background-color: yellow;
	color: green;
	margin-bottom: 20PX;
}

img {
	width: 40px;
	height: 40px;
	margin-left: 10px;
}
span {
	background-color: red;
}

/*.foto {
	float: right;
	margin-right: 20px;
}*/

h2 {
	text-align: center;
	background-color: white;
	margin-bottom: 20px;
}

#subtitle {
	background-color: orange;
	font-size: 30px;
}

table {

	border: 2px solid blue;
	background-color: yellow;

}


/*-- Formulario Numero 1 --*/
/*
.container {
	background-color: pink;
    width: 600px;
    height: 350px;
    padding-top: 10px;
    padding-left: 20px;
    margin: 0 auto;
}

.horizontal {
    width: 100%;
	margin-top: 20px;

}

.label{
    font-weight: bold;
    font-style: italic;
	margin-left: 15px;
	width: 80px;
	display: inline-block;
}

.primero{

margin-left: 0;
}

.horizontal input {

	width: 30%;
	height: 30px;
	margin-right: 10px;
}

.linea1 label {
	width: 40px;
}

.linea1 input {
	width: 78.3%;
	height: 30px;
}

.textarea textarea{
width: 92%;
height: 75px;
}

.button {
margin-top: 20px;
margin-left: 40%;
padding: 10px;
}
*/

/* --Formulario Numero 2 --*/ 

.container2 {
background-color: pink;
	height: 300px;
	width: 600px;
	padding: 20px;
	margin: 0 auto;
	margin-top: 30px;

}

.bloque {
 width: 100%;
}

.columna {
	margin-top: 0;
      display: inline-block;
      width: 18%;
  

  
}

.columna label,.columna input {
	display: block;
	margin-top: 10px;
	margin-left: 0;
	width: 100%;
}

.inputs input {
       width: 100%;
       margin-right: 15px;
}

.inputs {
	margin-right: 15px;
	width: 26%;
	/*margin-bottom: 20px;*/
}

.movil {

	width: 20%;
}

.horizontal1 {
	width: 100%;
	
}

.dir {
	width: 76%;
}

.dir input {
	width: 100%;
}

.texto {
	margin-top: 10px;
	width: 95%;
}

.texto textarea{

	width: 100%;
}

.boton {
	display: inline-block;
	margin-top: 30px;
	margin-left: 40%;
}

.boton input {
	padding: 10px;
}