h1 {
	font-size: 30px;
	color: red;
    font-family: verdana, sans-serif;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

h2 {
	color: red;
	font-size: 30px;
}

body 
{
	background-color: black;
}

p {
	color: red;
	overflow: hidden;
	width: 400px;
	height: 100px;
	z-index: 5;
	margin: 20px 0px 20px 0px;
}

p:hover {
	overflow: visible;
	background-color: pink;
	z-index: 5;
}

.seccion {
	display: inline-block;
	/*float: left;*/
	height: 500px;
	/*overflow: hidden;*/
   }

.seccion:hover {
	background-color: pink;
	
}

img {
	margin: 0 20px;
	height: 200px;
	width: 100px;
}

.foto1 {
	width: 150px;
}

.foto3 {
	width: 300px;
}

.seccion-segundo {
	background-color: #ff03aa;
}

button {
	padding: 10px;
	position: relative;
	left: 150px;
	bottom: 10px;
	z-index: 2;
}

form {
	z-index: 1;
}
/*.segundo {
	background-color: yellow;
}*/

